<H1>Effects</H1>
<!--
<div class="container">
    <img src="../assets/img/effects.jpg" alt="Causes Image" />

</div>
-->

<div class="mui-container-fluid">
    <div class="row">
        <div class="mui-col-md-2">
            <form class="mui-form">
                <div class="mui-select">
                    <select>
                        <option>Locate rod to bushing ring</option>
                        <option>Function 2</option>
                        <option>Function 3</option>
                        <option>Function 4</option>
                    </select>
                    <LABEL>Functions</LABEL>
                </div>
            </form>
        </div>
        <div class="mui-col-md-10">
            <table class="mui-table mui-table--bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Failure Mode</th>
                        <th>Effect</th>
                        <th>Severity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center" style="width: 10px;"><button class="mui-btn--raised" (click)="onClick()">+</button></td>
                        <td>Rod partially located</td>
                        <td>--- click to add effect ---</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td align="center" style="width: 10px;"><button class="mui-btn--raised" (click)="onClick()">+</button></td>
                        <td>Rod loses location over time</td>
                        <td>rod ring interface fractures resulting in loss of vehicle</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td  rowspan="2" style="width: 5px"><button class="mui-btn--raised" (click)="onClick()">+</button></td>
                        <td rowspan="2">Rod incorrectly located</td>
                        <td>steering precision is diminished</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>rear wheel traction is decreased</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>