<form ngNativeValidate class="mui-form" [formGroup]="factorForm" (ngSubmit)="submitFactor()">
    <legend>Add/Edit Factor</legend>

    <div class="mui-select">
        <select formControlName="category" required>
            <option value="" disabled selected>Select factor type</option>
            <option value="Customer">Customer Usage</option>
            <option value="Environmental">Environmental Interaction</option>
            <option value="Internal">Internal Interaction</option>
            <option value="Signal">Signal Factor</option>
            <option value="System">System Interaction</option>
        </select>
        <label>Category</label>
    </div>
    <div class="mui-select">
        <select formControlName="type" required>
            <option value="" disabled selected>Select factor type</option>
            <option value="EXTERNAL">External</option>
            <option value="INTERNAL">Internal</option>
            <option value="SIGNAL">Signal</option>
        </select>
        <label>Type</label>
    </div>

    <div class="mui-textfield">
        <input type="text" formControlName="name" placeholder="enter factor name" required>
        <label>Factor name</label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised mui-btn--small">Submit</button>
    <button type="button" (click)='reset()' class="mui-btn mui-btn--raised mui-btn--small">Cancel</button>
    <div class="mui-checkbox">
        <label>
            <input type="checkbox" value="" formControlName="deleteFactorControl">
            select to delete
        </label>
    </div>
</form>    
<div class='mui-divider' style="margin-top:50px;"></div>
<form ngNativeValidate class="mui-form" [formGroup]="importForm" (ngSubmit)="import()">
    <legend>Import Block Diagram</legend>

    <div class="mui-select">
        <select formControlName="name" required>
            <option value="" disabled selected>Select block</option>
            <option *ngFor="let block of blockIds$|async" [ngValue]="block.name">
                {{block.name}}
            </option>
        </select>
        <label>Block</label>
    </div>
    <div class="mui-select">
        <select formControlName="type" required>
            <option value="" disabled selected>Select factor type</option>
            <option value="EXTERNAL">External</option>
            <option value="INTERNAL">Internal</option>
        </select>
        <label>Type</label>
    </div>
    <div class="mui-radio">
        <label>
            <input type="radio"
                   formControlName="category"
                   value="System">
            System interaction
        </label>
    </div>
    <div class="mui-radio">
        <label>
            <input type="radio"
                   formControlName="category"
                   value="Internal">
            Internal interaction
        </label>
    </div>

    <button type="submit" class="mui-btn mui-btn--raised mui-btn--small">Submit</button>
</form>    