<div class="mui-col-md-10">
    <table width="100%" class="mui-table mui-table--bordered">
        <thead>
            <tr>
                <th>Function</th>
                <th>Requirement</th>
                <th>Absence of function</th>
                <th>Incomplete or partial function</th>
                <th>Intermittent function</th>
                <th>Excess function</th>
                <th>Decayed function</th>
                <th>Function occurs too soon</th>
                <th>Function occurs too late</th>
                <th>Incorrect function</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of funktions$|async">
                <td style="width: 300px"><a (click)="onSelect(f.id)">{{f.name}}</a></td>
                <td style="width: 300px">{{f.requirement}}</td>
                <td>{{f.failureModes['ABSENT']? 'X':''}}</td>
                <td>{{f.failureModes['PARTIAL']? 'X':''}}</td>
                <td>{{f.failureModes['INTERMITTENT']? 'X':''}}</td>
                <td>{{f.failureModes['EXCESS']? 'X':''}}</td>
                <td>{{f.failureModes['DECAY']? 'X':''}}</td>
                <td>{{f.failureModes['SOON']? 'X':''}}</td>
                <td>{{f.failureModes['LATE']? 'X':''}}</td>
                <td>{{f.failureModes['INCORRECT']? 'X':''}}</td>
            </tr>
        </tbody>
    </table>

</div>
