<div class="mui-col-md-10">
    <table class="mui-table mui-table--bordered">
        <thead>
            <tr>
                <th>Function</th>
                <th>Requirement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of matrix">
                <td style="width: 200px">Function Name</td>
                <td style="width: 200px">Requirement</td>
                <td style="width: 20px"><button class="mui-btn">edit</button></td>
            </tr>
        </tbody>
    </table>

</div>
