<div class="mui-appbar" style="margin-bottom: 20px;">
    <a class="mui-btn mui-btn--primary" routerLink="dfmeas" style="vertical-align:middle;" *ngIf="currentUser">Home</a>
    <a class="mui-btn mui-btn--primary" (click)="logout()"
            *ngIf="currentUser">Logout</a>
</div>

<div class="mui-container-fluid">
    <router-outlet></router-outlet>
</div>
<!--
<footer>
  <div class="mui-container mui--text-center">
    Made with ♥ by <a href="https://www.muicss.com">MUICSS</a>
  </div>
</footer>
-->
